body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: ArtifaktElement;
}

#header {
  position: absolute;
}

#header {
  height: 3em;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

  #header > * {
    height: 2em;
    margin: 0 0.5em;
  }

#login {
  font-family: ArtifaktElement;
  font-size: 1em;
}

.chartcanvas {
  width: 25vh;
  height: 40vh;
  position: absolute;
  margin-top: 1em;
}

.loadingchartcanvas {
  width: 25vh;
  height: 40vh;
  position: absolute;
}

.chartheader{
  margin-right: 5px;
}

.chartDiv {
  overflow: auto;
  resize: both;
  width: 25vh;
  height: 40vh;
  /* padding-top: 3em; */
  display: inline-flex;
  margin: 5px;
  border-style: solid;
  border-width: thick;
  padding: 10px;
}

.tableHeader{
  position: relative;
  display: inline-flex;
  width: 0px;
}

.tablediv{
  width: 100%;
  height: 100%;
  margin-top: 2em;
}

#header .title {
  height: auto;
  margin-right: auto;
}

.form-check-input {
  clear: left;
}

.form-switch.form-switch-sm {
  margin-bottom: 0.5rem;
}

.position-absolute {
  position: absolute !important;
}

.form-switch.form-switch-sm .form-check-input {
  height: 2em;
  width: calc(2em + 1.5em);
  border-radius: 2rem;
}

.swal2-input{
  display: block;
}

.move{
  cursor: move;
  height: 20px;
}

.close{
  height: 20px;
}

.chart-title{
  font-size: 20px;
  white-space: nowrap;
}